@use "../../../styles" as *;
.youtube {
  width: 40px;
  padding: 0 10px;
  box-sizing: content-box;
}

.link {
  display: block;
  text-align: center;
}

.icon {
  max-width: 34px;
  height: auto;
}
