@import "variables";
@import "functions";

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $side-padding-pc;
  @include mq() {
    padding: $side-padding-sp;
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

// ____________ for splide ____________
//
.custom__pagination {
  position: static;
  margin-top: 30px;
}

.custom__pagination__page {
  margin: 10px;
  width: 10px;
  height: 10px;
  background: #ccc;
}
