@import "variables";
@import "functions";

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $side-padding-pc;
  @include mq() {
    padding: $side-padding-sp;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

// ____________ for splide ____________
//
.custom__pagination {
  bottom: -60px;
  @include mq() {
    bottom: -45px;
  }
}

.custom__pagination__page {
  margin: 10px;
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
}
