@import "variables";
@import "functions";

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include mq(tb) {
    flex-direction: column;
    &:after {
      content: "";
      display: block;
      position: fixed;
      z-index: -1;
      height: 100vh;
      width: 100vw;
      background: url(/assets/images/bg-main-visual-sp.png) no-repeat;
      background-size: cover;
    }
  }
}

.heading {
  width: 495px;
  text-align: center;
  @include mq(tb) {
    width: 70%;
  }
  @include mq() {
    width: 100%;
    padding: 30px 5%;
  }
}

.iyu-logo {
  width: 100%;
  height: auto;
}

.bg-movie {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  @include mq() {
    display: none;
  }
}

.bg-photo {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
  display: none;
  @include mq() {
    display: block;
  }
}
