@use "../../styles" as *;
.root {
  width: 100%;
  background: $white;
  border: none;
  border-radius: 0;
  margin-top: 10px;
  font-size: 16px;
  padding: 0.5em 0.7em;
  outline-color: $yellow-rgba;
  resize: vertical;
  height: 10em;
  vertical-align: bottom;
  &::placeholder {
    color: $placeholder;
  }
}
