@import "variables";
@import "functions";

.gallery {
  background: $white;
  padding-bottom: 80px;
  overflow: hidden; // カルーセルが飛び出ないよう対策
  @include mq() {
    padding-bottom: 50px;
  }
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // max-width: 700px;
  padding: $side-padding-pc;
  @include mq() {
    padding: $side-padding-sp;
  }
}

.image {
  width: 20%;
  height: auto;
}

// .image[lazy="loading"] {
//   width: 100px;
//   height: auto;
// }

// .image[lazy="loaded"] {
//   width: 100%;
// }

// note: 以下は scoped を外して書かれたもの
// 横をはみ出させるためコンポーネントのスタイルを上書き
// .VueCarousel {
//   margin: 0 auto;
//   max-width: 700px;
//   .VueCarousel-wrapper {
//     overflow: visible;
//   }
//   .VueCarousel-dot-container {
//     margin-top: 0 !important;
//   }
//   .VueCarousel-dot {
//     margin-top: 0 !important;
//   }
//   // 矢印ボタン
//   img.arrow {
//     width: 30px;
//   }
//   // 左右ボタン
//   .VueCarousel-navigation-button {
//     @include mq(carousel) {
//       display: none;
//     }
//     &:focus {
//       outline: none !important;
//     }
//   }
//   .VueCarousel-navigation-prev {
//     left: 20px !important;
//   }
//   .VueCarousel-navigation-next {
//     right: 20px !important;
//   }
// }
// </style>
