@import "variables";
@import "functions";

.gallery {
  background: $white;
  padding-bottom: 80px;
  overflow: hidden; // カルーセルが飛び出ないよう対策
  @include mq() {
    padding-bottom: 50px;
  }
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $side-padding-pc;
  @include mq() {
    padding: $side-padding-sp;
  }
}

.image {
  width: 20%;
  height: auto;
}
