@import "variables";
@import "functions";

.gallery {
  background: $white;
  padding-bottom: 140px;
  @include mq() {
    padding-bottom: 94px;
  }
}

.carousel {
  margin-top: 30px;
  @include mq() {
    margin-top: 15px;
  }
}
