@import "variables";
@import "functions";

.anchor {
  position: relative;
  display: block;
  background: $light-gray;
  padding-bottom: 100%; // タイルの大きさを常に正方形にするため
}

.image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transparent-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  transition: opacity 0.2s ease, visibility 0.2s;
  visibility: hidden;
  opacity: 0;
}

.anchor:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay-title {
  color: $white;
  font-size: 14px;
}

.overlay-price {
  color: $white;
  font-size: 20px;
  margin-top: 2px;
}
