@use "../../../../styles" as *;
.contact-form {
  margin-top: 10px;
}

.send-button {
  margin-top: 10px;
}

.user-input-length {
  color: $white;
  text-align: right;
  font-size: 14px;
  margin-top: 2px;
}
