@import "variables";
@import "functions";

.contact {
  background: $main-blue;
  padding: 0 $side-padding-pc 80px;
  @include mq() {
    padding: 0 $side-padding-sp 50px;
  }
}

.wrap {
  max-width: 500px;
  margin: 0 auto;
}

.lead {
  color: $white;
  text-align: center;
  &::selection {
    background: $yellow-rgba;
    color: $main-blue;
  }
  br {
    @include mq() {
      display: none;
    }
  }
}
