@import "variables";
@import "functions";

.contact {
  background: $main-blue;
  padding: 0 $side-padding-pc 80px;
  @include mq() {
    padding: 0 $side-padding-sp 50px;
  }
}

.wrap {
  max-width: 500px;
  margin: 0 auto;
}

.lead {
  color: $white;
  text-align: center;
  &::selection {
    background: $yellow-rgba;
    color: $main-blue;
  }
  br {
    @include mq() {
      display: none;
    }
  }
}

.contact-form {
  margin-top: 10px;
}

.show-only-live {
  text-align: right;
  .is-small {
    width: 95%;
  }
}

.send-button {
  background: $orange;
  color: $white;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 10px;
  font-size: 16px;
  padding: 0.5em 0.7em;
  outline-color: $yellow-rgba;
  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

// todo: 各コンポーネントに冗長に書いて scoped にする
// -- form parts basic style --
// input,
// select,
// textarea,
// button {
//   width: 100%;
//   background: $white;
//   border: none;
//   border-radius: 0;
//   margin-top: 10px;
//   font-size: 16px;
//   padding: 0.5em 0.7em;
//   outline-color: $yellow-rgba;
// }
// button {
//   user-select: none;
// }
// textarea {
//   resize: vertical;
//   height: 10em;
// }
