@use "../../../styles" as *;
// todo: 共通化する
@mixin selection-color() {
  &::selection {
    background: $yellow-rgba;
    color: $main-blue;
  }
}

.lead {
  color: $white;
  text-align: center;
  line-height: 2;
  @include selection-color();
  @include mq() {
    line-height: 1.5;
  }
}
