@import "variables";
@import "functions";

.instagram {
  width: 40px;
  padding: 0 6px;
  box-sizing: content-box;
}

.link {
  display: block;
  text-align: center;
}

.icon {
  max-width: 30px;
  height: auto;
}
