@use "../../styles" as *;
@mixin selection-color() {
  &::selection {
    background: $yellow-rgba;
  }
}

.root {
  color: $white;
  text-decoration: underline;
  margin: 0 0.1em;
  @include selection-color();
  &:hover {
    text-decoration: none;
  }
}
