@import "variables";
@import "functions";

.profile {
  position: relative;
}

.heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.wrap-photo {
  width: 100%;
  // min-height: 300px; // loading中の高さを確保
  overflow: hidden;
  position: relative;
  @include mq(fhd) {
    display: flex;
    justify-content: center;
  }
}

// todo: ナビゲーションができたら全サイズで画像調整する
.profile-photo {
  // width: 100%;
  // min-width: 1300px;
  margin-top: -240px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  pointer-events: none; // ドラッグ禁止
  @include mq(tb) {
    width: 900px;
    height: auto;
    top: 40px;
    margin-top: -160px;
  }
  @include mq() {
    // min-width: unset;
    width: 150%;
    top: 40px;
    margin-top: -135px;
  }
  @include mq(ssm) {
    top: 35px;
    margin-top: -24%;
  }
  @include mq(fhd) {
    height: 100%;
    margin-top: -380px;
  }
}
